<label class="header-label">
    <img class="check" src="./../../../assets/images/check.svg"/>
    Item added to your cart
</label>
<img class="xmark" src="./../../../assets/images/xmark.svg"/>
<div class="row">
    <img class="product-photo" src="./../../../assets/images/bag.webp"/>
    <div class="col">
        <label>Kulfi In My Heart</label>
        <label>Size : S</label>
    </div>
</div>
<app-button
    [buttonNameProp]="'View cart (5)'"
    [buttonEventProp]="viewCartEvent"
    [styleProp]="{ 'width' : '371px', 'margin-left' : '10%', 'margin-top' : '45px' }"
></app-button>
<app-button
    [buttonNameProp]="'Check out'"
    [buttonEventProp]="checkOutEvent"
    [styleProp]="{ 'width' : '371px', 'margin-left' : '10%', 'margin-top' : '25px', 'background-color' : 'black', 'color':'white' }"
>
</app-button>
<a routerLink="/home">Continue shopping</a>