<div 
    #popUpContainer 
    class="pop-up-container" 
    [ngClass]="{ 'translate' : !this.isHeaderVisible }"
    *ngIf="this.isPopUpVisible"
>
    <label class="header-label">
        <img class="check" src="./../../../assets/images/check.svg"/>
        Item added to your cart
    </label>
    <img class="xmark" src="./../../../assets/images/xmark.svg"/>
    <div class="row">
        <img *ngIf="this.currentProduct" class="product-photo" [src]="this.currentProduct.productImage"/>
        <div class="col">
            <label
                #popUpLabel
            >{{ this.currentProduct.productName }}</label>
            <label>Size : S</label>
        </div>
    </div>
    <app-button
        class="viewCart"
        [buttonNameProp]="'View cart (5)'"
        [buttonEventProp]="viewCartEvent"
        [styleProp]="{ 'width' : '371px', 'margin-left' : '10%', 'margin-top' : '35px' }"
    ></app-button>
    <app-button
        class="checkOut"
        [buttonNameProp]="'Check out'"
        [buttonEventProp]="checkOutEvent"
        [styleProp]="{ 'width' : '371px', 'margin-left' : '10%', 'margin-top' : '15px', 'background-color' : 'black', 'color':'white' }"
    >
    </app-button>
    <a routerLink="/home">Continue shopping</a>
</div>