div.product-card {
    cursor: pointer;
}

div.stock-status {
    color: white;
    background-color: black;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px; 
}

div.product-image {
    background-image: url("./../../../assets/images/cookbook.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: 75%;
    position: relative;
    transition: background-size 0.5s ease;
}

div.product-name {
    color: #121212;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-weight: 370;
}

@media (min-width: 500px) and (max-width: 1023px) {
    div.product-card {
        width: 44.4vw;
        height: 59vw;
        background-color: white;
    }
    
    div.product-price {
        color: #121212;
        font-size: 20px;
        background-color: white;
    }

    div.stock-status {
        position: absolute;
        left: 10px;
        bottom: 8px;
    }
}

div.product-card:hover div.product-image {
    background-size: 105%;
}

@media (min-width: 1024px) {
    div.product-card {
        width: 21.64vw;
        height: 31.11vw;
        background-color: white;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-image {
        width: 100%;
        height: 69%;
    }

    div.stock-status {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
}

:host {
    display: inline-block;
}