/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
}

/* Laptop L */
@media (min-width: 1440px) and (max-width: 2559px) {
    :host {
        display: block;
        transform: translateY(160px);
    }

    div.cart-page-container {
        background-color: white;
        min-height: 245px;
        width: 80vw;
        margin-left: 10vw;
    }

    div.cart-page-header {
        height: 72px;
        width: 100vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 20px;
    }

    h1 {
        width: 70%;
        height: 50px;
        padding-top: 5px;
        padding-left: 10px;
    }

    a {
        width: 30%;
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding-right: 10px;
        text-decoration: underline;
        text-underline-offset: 5px;
        color: black;
    }

    div.cart-page-sub-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 40px;
    }

    span {
        font-size: 10px;
        font-weight: 400;
        color: gray;
        letter-spacing: 1px;
    }

    span:nth-child(1) {
        display: flex;
        padding-left: 40px;
        height: 100%;
        align-items: center;
    }

    span:nth-child(2){
        display: flex;
        padding-left: 770px;
        height: 100%;
        align-items: center;
    }

    span:nth-child(3){
        display: flex;
        padding-left: 140px;
        height: 100%;
        align-items: center;
    }
}

/* 4K */
@media (min-width: 2560px) {
}
