<div class="left-container" [ngStyle]="{ 'background-image' : 'url(' + imageUrl + ')' }"></div>
<div class="right-container">
    <h1>Is it Chai or Cha</h1>
    <span>$18.00 CAD</span>
    <label>Quantity</label>
    <div class="quantity-container">
        <button (click)="decrement()" class="decrement-button">-</button>
        <input #productQuantityRef [(ngModel)]="productQuantity" (focus)="productQuantityFocus()" (focusout)="productQuantityFocusOut()" (change)="productQuantityChange()"/>
        <button (click)="increment()" class="increment-button">+</button>
    </div>
    <button (click)="addCart()" class="add-button">
        <ng-container *ngIf="isAdded">Add to cart</ng-container>
        <ng-container *ngIf="!isAdded">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </ng-container>
    </button>
</div>