<div class="left-container" [ngStyle]="{ 'background-image' : 'url(' + this.currentProduct.productImage + ')' }"></div>
<div class="right-container">
    <h1>{{ this.currentProduct.productName }}</h1>
    <span>₺{{ this.currentProduct.productPrice }} TRY</span>
    <label>Quantity</label>
    <app-quantity-input></app-quantity-input>
    <label *ngIf="this.currentProduct.sizes !== undefined">Size</label>
    <div class="size-container" *ngIf="this.currentProduct.sizes !== undefined">
        <select name="sizes" class="sizes" [(ngModel)]="this.productSize">
            <option *ngFor="let size of this.currentProduct.sizes" [value]="size">{{ size }}</option>
        </select>
    </div>
    <app-button 
        #addCartButton
        [buttonEventProp]="addCart" 
        [classProp]="'add-button'"
        [buttonNameProp]="'Add to cart'"
    >
    </app-button>
</div>