/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    div.header {
        width: calc(100vw);
        margin-left: 0;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%); 
        cursor: pointer;  
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    div.header {
        width: calc(100vw);
        margin-left: 0;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;    
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {
    div.header {
        width: calc(100vw);
        margin-left: 0;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;    
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    div.header {
        width: calc(100vw);
        margin-left: 0;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%); 
        cursor: pointer;   
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    div.header {
        width: 80vw;
        margin-left: 10vw;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 104px;
        top: 50%;
        transform: translateY(-50%); 
        cursor: pointer;   
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* Laptop L */
@media (min-width: 1440px) and (max-width: 2559px) {
    div.header {
        width: 1200px;
        margin-left: calc((100vw - 1200px) / 2);
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
        max-width: 1497px;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 104px;
        top: 50%;
        transform: translateY(-50%); 
        cursor: pointer;   
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

/* 4K */
@media (min-width: 2560px) {
    div.header {
        width: 1200px;
        margin-left: calc((100vw - 1200px) / 2);
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    img#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 104px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;    
    }

    img#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
