/* xs */
@media (max-width: 576px){

}

/* sm */
@media (min-width: 577px) and (min-width: 768px) {

}

/* md */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* lg */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* xl */
@media (min-width: 1281px) and (max-width: 1536px) {
    div.header {
        width: calc(100vw - 320px);
        margin-left: 160px;
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    svg#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 104px;
        top: 50%;
        transform: translateY(-50%);    
    }

    svg#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* 2xl */
@media (min-width: 1537px){
    div.header {
        width: 1200px;
        margin-left: calc((100vw - 1200px) / 2);
        position: fixed;
        height: 160px;
        padding: 36px 50px 12px 50px;
        background-color: white;
        transition: transform 0.3s;
        z-index: 10;
    }

    .hidden {
        transform: translateY(-160px);
        visibility: hidden;
    }

    img#logo {
        width: 145px;
        height: 112.5px;
        padding: 7.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    svg#magnifying-glass-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 104px;
        top: 50%;
        transform: translateY(-50%);    
    }

    svg#cart-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);
    }
}
