div.container {
    height: 1495px;
    transform: translateY(160.5px);
}


@media (min-width: 500px) and (max-width: 1023px) {
    div.container {
        width: calc(100vw - 28px);
        margin-left: 14px;
    }
    
    div.container > * {
        margin: 4px;
    }
}

@media (min-width: 1024px) {
    div.container {
        width: calc(100vw - 114px);
        margin-left: 57px;
    }
    div.container > * {
        margin: 10px;
    }    
}
