<div class="container">
    <app-product-card 
        [productImage]="'./../../../assets/images/cookbook.webp'"
        [stockStatus]="10"
        [productName]="'COOKBOOK: Beyond Measure - Pakistani cooking by Feel with GoldenGully'"
        [productPrice]="42.00"
    ></app-product-card>
    <app-product-card 
        [productImage]="'./../../../assets/images/mug.webp'"
        [stockStatus]="10"
        [productName]="'COOKBOOK: Beyond Measure - Pakistani cooking by Feel with GoldenGully'"
        [productPrice]="42.00"
    ></app-product-card>
</div>