div.container {
    height: auto;
    transform: translateY(160.5px);
}

@media (max-width: 1023px) {
    div.container {
        width: calc(100vw - 28px);
        margin-left: 14px;
    }
    
    div.container > * {
        margin: 6px;
    }
}

@media (min-width: 1024px) {
    div.container {
        width: calc(100vw - 114px);
        margin-left: 57px;
    }

    div.container > * {
        margin: 10px;
    }    
}
