/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    :host {
        display: block;
        width: 100vw;
        height: auto;
        max-height: 2385px;
        padding-left: 10vw;
        transform: translateY(160px);
        overflow-y: hidden;
    }

    :host > * {
        margin: 2px;
    }
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {
    :host {
        display: block;
        width: 100vw;
        height: auto;
        max-height: 2385px;
        padding-left: 10vw;
        transform: translateY(160px);
        overflow-y: hidden;
    }

    :host > * {
        margin: 2px;
    }
}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {
    :host {
        display: block;
        width: 100vw;
        height: auto;
        max-height: 2385px;
        padding-left: 10vw;
        transform: translateY(160px);
        overflow-y: hidden;
    }

    :host > * {
        margin-left: 2px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    :host {
        width: 100vw;
        height: auto;
        transform: translateY(160px);
        overflow-y: hidden;
        display: block;
        padding-left: 10vw;
    }

    :host > * {
        margin: 2px;
    }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    :host {
        display: block;
        width: 100vw;
        height: auto;
        padding-left: 10vw;
        transform: translateY(160px);
        overflow-y: hidden;
    }

    :host > * {
        margin: 2px;
    }
}

/* Laptop L */
@media (min-width: 1440px) and (max-width: 2559px) {
    :host {
        display: block;
        width: 1200px;
        height: auto;
        transform: translateY(160px);
        margin-left: calc((100vw - 1200px) / 2);
        overflow-y: hidden;
    }

    :host > * {
        margin: 2px;
    }
}

/* 4K */
@media (min-width: 2560px) {
    :host {
        display: block;
        width: 1200px;
        height: auto;
        max-height: 1585px;
        padding-left: 50px;
        padding-right: 50px;
        transform: translateY(160px);
        margin-left: calc((100vw - 1200px) / 2);
        overflow-y: hidden;
    }

    :host > * {
        margin: 5px;
    }
}
