<div class="cart-item-container">
    <div class="first">
        <img class="cart-item-image" src="./../../../assets/images/mug.webp"/>
    </div>
    <div class="second">
        <h5>Is it Chai or Cha</h5>
        <h6>$18.00</h6>
    </div>
    <div class="third">
        <app-quantity-input
            [className]="'cart-item-quantity-input'"
        >
        <!-- Prop Geç -->
        </app-quantity-input>
        <img class="trash-icon" src="./../../../assets/images/trash.svg"/>
    </div>
    <div class="fourth">
        $18.00
    </div>
</div>