<tr class="cart-item-container">
    <td class="cart-item-first">
        <img class="cart-item-image" src="./../../../assets/images/mug.webp"/>
    </td>
    <td class="cart-item-second">
        <h5>Is it Chai or Cha</h5>
        <h6>$18.00</h6>
    </td>
    <td class="cart-item-third">
        <app-quantity-input
        ><!-- Prop Geç --></app-quantity-input>
        <img class="trash-icon" src="./../../../assets/images/trash.svg"/>
    </td>
    <td class="cart-item-fourth">
        $18.00
    </td>
</tr>