/* Mobile S */
@media (min-width: 320px) and (max-width: 374px) {
    
}

/* Mobile M */
@media (min-width: 375px) and (max-width: 424px) {

}

/* Mobile L */
@media (min-width: 425px) and (max-width: 767px) {
    div.product-card {
        width: 193px;
        height: 297px;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-card:hover div.product-image {
        background-size: 105%;
    }

    div.product-image {
        height: 193px;
        width: 193px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
    }

    div.product-name {
        width: 193px;
        height: 46px;
        padding-top: 17px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
    }

    div.product-price {
        padding-bottom: 17px;
        display: flex;
        align-items: center;
    }

    :host {
        display: inline-block;
        width: 193px;
        height: 297px;
    }

    div.stock-status {
        width: 82px;
        height: 26px;
        background-color: rgb(18, 18, 18);
        color: #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 500;
        position: absolute;
        bottom: 12px;
        left: 10px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    div.product-card {
        width: 263px;
        height: 378px;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-card:hover div.product-image {
        background-size: 105%;
    }

    div.product-image {
        height: 263px;
        width: 263px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
    }

    div.product-name {
        width: 263px;
        height: auto;
        padding-top: 17px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
    }

    div.product-price {
        padding-bottom: 17px;
        display: flex;
        align-items: center;
    }

    :host {
        display: inline-block;
        width: 263px;
        height: 378px;
    }

    div.stock-status {
        width: 82px;
        height: 26px;
        background-color: rgb(18, 18, 18);
        color: #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 500;
        position: absolute;
        bottom: 12px;
        left: 10px;
    }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
    div.product-card {
        width: 263px;
        height: 378px;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-card:hover div.product-image {
        background-size: 105%;
    }

    div.product-image {
        height: 263px;
        width: 263px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
    }

    div.product-name {
        width: 263px;
        height: auto;
        padding-top: 17px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
    }

    div.product-price {
        padding-bottom: 17px;
        display: flex;
        align-items: center;
    }

    :host {
        display: inline-block;
        width: 263px;
        height: 378px;
    }

    div.stock-status {
        width: 82px;
        height: 26px;
        background-color: rgb(18, 18, 18);
        color: #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 500;
        position: absolute;
        bottom: 12px;
        left: 10px;
    }
}

/* Laptop L */
@media (min-width: 1440px) and (max-width: 2559px) {
    div.product-card {
        width: 263px;
        height: 378px;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-card:hover div.product-image {
        background-size: 105%;
    }

    div.product-image {
        height: 263px;
        width: 263px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
    }

    div.product-name {
        width: 263px;
        height: auto;
        padding-top: 17px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
    }

    div.product-price {
        padding-bottom: 17px;
        display: flex;
        align-items: center;
    }

    :host {
        display: inline-block;
        width: 263px;
        height: 378px;
    }

    div.stock-status {
        width: 82px;
        height: 26px;
        background-color: rgb(18, 18, 18);
        color: #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 500;
        position: absolute;
        bottom: 12px;
        left: 10px;
    }
}

/* 4K */
@media (min-width: 2560px) {
    div.product-card {
        width: 263px;
        height: 378px;
    }

    div.product-card:hover div.product-name {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    div.product-card:hover div.product-image {
        background-size: 105%;
    }

    div.product-image {
        height: 263px;
        width: 263px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
    }

    div.product-name {
        width: 263px;
        height: auto;
        padding-top: 17px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
    }

    div.product-price {
        padding-bottom: 17px;
        display: flex;
        align-items: center;
    }

    :host {
        display: inline-block;
        width: 263px;
        height: 378px;
    }

    div.stock-status {
        width: 82px;
        height: 26px;
        background-color: rgb(18, 18, 18);
        color: #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        border-radius: 5px;
        font-weight: 500;
        position: absolute;
        bottom: 12px;
        left: 10px;
    }
}